* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.justifyLeft {
  text-align: justify left;
}

.justifyRight {
  text-align: justify right;
}

/*#maindiv {
  width: 100%;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  display: block;
  margin: 0 auto;
}*/

nav {
  background: #FFB4B0;
  display: block;
  width: 100%;
  margin: 10px auto;
}

nav ul li {
  display: inline-block;
  text-decoration: none;
  text-align: left;
  padding: 10px;
}

#sidebar {
  background: #4DD7FA;
  min-width: 20%;
  height: auto;
  display: inline-block;
}

#searchForm {
  padding: 10px;
}

#results {
  background: #FEFAC0;
  width:  75%;
  float: right;
  display: inline-block;
  min-height: 100%
}

#results h2 {
  margin-left: 10px;
  color: #785616;
}

#results li {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  margin: 5px;
}

.border {
  border: 3px solid black;
}

.genreBox {
  display: inline-block;
  margin: 5px;
}

#addMusicForm {
  width: 30%;
  margin: 0 auto;
}


/*Red = #FFB4B0
Blue = #4DD7FA
Light yellow = #FEFAC0
Dark yellow = #785616*/