/*Music History # 3 */

.visible {
  display: block;
}

.hidden {
  display: none;
}


/*Overall styling */

* {
  box-sizing: border-box;

}

div.container {
  width: 100%;
  height: 100%;
  display: inline-flex;

}



/*Nav styling */


div.topnav ul li {
  float: left;
  margin-right: 2px;
  vertical-align: middle;
  margin-top: 15px;
  margin-bottom: 15px;


}

div.topnav ul  {
  width: 90%;
  margin: 0 0 1% 0;
  display: inline-block;
  list-style-type: none;
  background-color: #FFB4B0;
  height: 50px;
  border: 1px solid black;
  text-align: center;
}


a.nounderline {
  text-decoration: none;
  color: black;
}



/*Column styling */





div.leftcol {
  background-color: #4DD7FA;
  display: inline-block;
  float: left;
  width: 20%;
margin: 0 1% 0 0;
border: 2px black solid;
height: 100%;

}


div#centercol {
  background-color: #FEFAC0;
/*  display: inline-block;*/
  float: left;
  width: 69%;
  margin: 0 auto 0 0;
  border: 2px black solid;
  height: 100%;
  padding-left: 20px;
}

select {
  width: 100%;
  border: solid black;
  margin-bottom: 10px;
  margin-top: 10px;
}

input[type=range]  {
  width: 100%;
}


label {
  margin-top: 10px;
  display: inline-block;
}

div.checkboxes {
  width: 90%;
  float: left;
  padding-left: 5px;
  display: inline-block;
}

input[type=checkbox] {
  display: inline-block;
}

h1 {
  color: #785616;
  font-weight: lighter;
}

input[type=button]  {
  width: 90%;
  margin: 5%;
}
